body {
    display: grid;
    grid-template-columns: 1.5fr 5fr 2fr;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #E2E8F0;
}

header {
    background-color: #FFFFFF;
    display: grid;
    padding-right: 3vw;
    padding-left: 3vw;
    grid-column: 2/4;
    margin-bottom: 1.5em;
}

.nav-buttons .nav {
    background-color: #0f766e;
    border-radius: 15px;
    width: 124px;
    height: 32px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    border-radius: 10px;
    border: none;
    background-color: #E2E8F0;
    height: 2em;
    width: 35vw;
}


.search-bar button {
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logo img {
    width: 50px;
    height: 50px;
}

img {
    width: 25px;
    height: 25px;
}

a {
    text-decoration: none;
    color: black;
}

.header-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 1.5em;
    margin-top: 1.5em;

}

.side-nav-1,
.side-nav-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 1em;
}

.nav-item,
.greeting,
.profile-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-bar {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

.header-top .profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.search-bar {
    justify-self: start;
}

.profile {
    justify-self: end;
}

.header-bottom {
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 2em;
    font-weight: bold;
    background-color: #0f766e;
    grid-row: 1/4;
    grid-column: 1/2;
    padding: 1.5em;
}

.main {
    grid-row: 2/4;
    grid-column: 2/3;
}

.right-side {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    grid-row: 2/4;
    grid-column: 3/4;
    padding: 1em;
    max-height: calc(100vh - 4.5em);
}

.announcement {
    padding-left: 1em;
    border: #0f766e 5px solid;
    grid-row: 2/3;
    border-radius: 16px;
}

.trending {
    margin-right: 1.5em;
    padding-left: 1em;
    border-radius: 16px;
    border: #0f766e 5px solid;
    grid-row: 3/4;
}

.announcement {
    margin-right: 1.5em;
    background-color: #FFFFFF;
    overflow-y: auto;
}

.cards {
    padding: 20px;
    border: #0f766e 5px solid;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5em;
    padding: 1.5em;
}